<div class="container">
    <h2 class="text-center my-3">Welcome to Process Tracker Application</h2>
    <div class="d-flex justify-content-center align-items-center gap-3">
        <a class="btn btn-primary w-25 my-3" asp-action="" asp-controller="">Add Process</a>
        <a class="btn btn-primary w-25 my-3" asp-action="" asp-controller="">List Process</a>
    </div>
</div>