@model List<ProcessViewModel>

<table class="table">
    <thead>
    <tr>
        <th>Process Name</th>
        <th>Folder to Apply</th>
        <th>Run Hour</th>
        <th>Operation</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var process in Model)
    {
        <tr>
            <td>@process.ProcessName</td>
            <td>@process.FolderToApply</td>
            <td>@process.RunHour</td>
            <td>
                <a class="btn btn-success" asp-action="RunProcessManually" asp-controller="Process" asp-route-id="@process.Id">Run Process Manually &#9658;</a>
            </td>
        </tr>
    }
    </tbody>
</table>